<div id="hmenu">
    <ul id="trans-nav">
        <li><a class="mainmenu" href="#">Accueil</a></li>

        <li><a class="mainmenu" href="#">Cours</a>
                <ul>
                        <li><a href="#">*Gérer les cours*</a></li>
                </ul>
        </li>

        <li><a class="mainmenu" href="#">Projets</a>
                <ul>
                        <li><a href="#">PLIC</a></li>
                        <li><a href="#">DOT.NET</a></li>
                </ul>
        </li>

        <li><a class="mainmenu" href="#">Services</a>
                <ul>
                        <li><a href="#">Demande matériel</a></li>
                        <li><a href="#">Prevoir un depart</a></li>
                </ul>
        </li>

        <li><a class="mainmenu" href="#">Communauté</a>
                <ul>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Wiki</a></li>
                        <li><a href="#">Promotion</a></li>
                </ul>
        </li>

        <li><a class="mainmenu" href="#">Mon Compte</a>
                <ul>
                        <li><a href="#">Gestion du compte</a></li>
                        <li><a href="#">Mes notes</a></li>
                        <li><a href="#">*Lister les profils*</a></li>
                </ul>
        </li>
        <li class="mainmenu" id="dernier"><a href="#">Nous contacter</a></li>
    </ul>
</div>