<div id="menu" class="span3">
	{% block specific_menu %}{% endblock %}
	<h3>Final Fantasy</h3>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="">Final Fantasy 1</a></li>
		<li><a href="">Final Fantasy 2</a></li>
	</ul>
	<h3>RPG Maker</h3>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="">RPG Maker XP</a></li>
		<li><a href="">RPG Maker 2003</a></li>
	</ul>
</div>