body
{
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('../img/background.jpg');
    background-repeat: repeat-y;
    background-attachment:fixed;
    background-position: center top;
}

#header
{
	height: 80px;
	background-color:#FFF;
}

#hmenu
{
	height:45px;
	padding-top:5px;
	background-color:#002d40;
	z-index:-2;
}

#trans-nav 
{ 
	list-style-type: none; 
	height: 40px;
	/* PERMET DE PLACER LE MENU*/	
	margin-top:0px;
	margin-left:200px;
	padding-top:5px;
	padding: 0; 
}

#trans-nav li 
{ 
	float: left; 
	position: relative; 
	padding: 0;
	padding-bottom:2px;
	line-height: 40px; 
	font-family:Terminal;
	font-size:14px;
	z-index:2;
	background-color:#002d40;
}

#trans-nav li#dernier
{  
	border-right: solid 1px;
}

#trans-nav li:hover 
{ 
	background-position: 0 -40px; 
}

#trans-nav li a 
{ 
	display: block; 
	padding: 0 15px; 
	color: #fff; 
	text-decoration: none; 
	border-left:1px solid black;
}

#trans-nav li a:hover 
{ 
	color: #a3f1d7; 
}

#trans-nav li ul 
{ 
	opacity: 0; 
	position: absolute; 
	left: 0; 
	width: 10em;
	padding:0;
	padding-top:10px;
	background-color:#002d40;
	top:40px;
	list-style-type: none; 
	margin: 0; 
	z-index:1;
}

#trans-nav li:hover ul 
{ 
	opacity: 0.85; 
}

#trans-nav li ul li 
{ 
	float: none; 
	position: static; 
	height: 0; 
	line-height: 0; 
	background: none; 
}

#trans-nav li:hover ul li 
{ 
	height: 30px; 
	line-height: 30px; 
}

#trans-nav li ul li a 
{ 
	background-color:#002d40;
	border-top:1px solid #000000;
}

#trans-nav li ul li a:hover 
{ 
	background: #000000; 
}

#trans-nav li 
{ 
	-webkit-transition: all 0.2s; 
}

#trans-nav li a 
{ 
	-webkit-transition: all 0.5s; 
}

#trans-nav li ul 
{ 
	-webkit-transition: all 1s; 
}

#trans-nav li ul li 
{ 
	-webkit-transition: height 0.5s; 
}

a#trans 
{ 
	/*background: #fff; */
	color: #aa0000; 
	padding: 3px; 
	-webkit-transition: all 1s linear; 
}

a#trans:hover 
{
	background: #220077; 
	color: #fff; 
}

#content
{
    background-color: #FFF;
    padding: 20px 20px 20px 20px;
}

#right-column
{
    margin-left: 50px;
}

#footer
{
	background-color:#002d40;
	color:white;
	font-size:18px;
	padding-top:10px;
	padding-left:585px;
	padding-bottom:10px;
}

#logo-MTI
{
	margin-top:10px;
        margin-left:20px;
}

#logo-EPITA
{
	float: right;
        margin-right: 20px;
}

#login-box
{
    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 50px;
    border-radius: 20px;
}

#login-box img
{
    position: relative;
    top: -20px;
}

#login-box-content
{
    margin-top: -10px;
}

.planning
{
    margin: auto;
    border: 1px solid black;
    text-align: center;
}

.planning th
{
    width: 200px;
}

.planning tr td:first-child
{
    font-size: x-small;
}

.planning tr:first-child
{
    border-bottom: 1px solid black;
}

.planning tr td:not(:first-child) {
    background-color: red;
}

.planning tr td
{
    border-right: 1px solid black;
}

.center
{
    text-align: center;
}