{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}
<h1>{{ semestre }}</h1>

    
    {% if courses|length > 0 %}
        <table class="table">
            <tr>
                <th>Nom</th>
                <th>Professeur</th>
            </tr>
        {% for course in courses %}
            <tr>
                <td><a href="">{{ course.name }}</a></td>
                <td></td>
            </tr>
        {% endfor %}
        </ul>
        </table>
    {% else %}
        <p class="text-error">Aucun cours pour ce semestre !</p>
    {% endif %}
{% endblock %}