{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% set dayName = ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"] %}

{% block content %}
    <h1>Planning des cours</h1>
    <br />
    {% if is_granted('ROLE_TEACHER') %}
        <ul>
            <li><a href="{{ path('planning_ajouter_cours') }}">Ajouter un cours</a></li>
            <li><a href="{{ path('planning_ajouter_type_cours') }}">Ajouter un type de cours</a></li>
        </ul>
        <br />
    {% endif %}
    
    {% include 'IntranetScheduleBundle:Front:table.html.twig' %}
{% endblock %}