{% extends "IntranetCoreBundle:Core:layout.html.twig" %}

{% block content %}
<h1>Edition du profil de {{ user.firstName }} {{ user.lastName }}</h1>
<form action="{{ path('user_profile_edit', {'user_id': user.id }) }}" method="POST">
    
</form>
{% endblock content %}
