{% extends 'IntranetCoreBundle:Core:layout.html.twig' %}

{% block content %}

<h1>Liste des tickets</h1>

{% for tick in tickets %}
    [{{tick.state}}] <a href="{{ path('show_ticket', {'id' : tick.id}) }}">{{tick.title}}</a><br/>
{% endfor %}

{% endblock %}