  <form method="post" action="{{ path('edit_mark', {'exam_id' : mark.exam.id, 'mark_id': mark.id}) }}" {{ form_enctype(form) }}>
    {{ form_widget(form.value, {'attr':{'style': 'width: 18px'}}  ) }}
    {{ form_rest(form) }}
    <input type="submit" class="btn btn-success btn-mini" value="OK">
  </form>